@model Emsal.AdminUI.Models.OfferProductionViewModel
@*@using PagedList.Mvc;*@


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    }

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title" style="width:100%;">@Model.eheader 
                    @if (Model.forma == "detail")
                    {
                    <a href="/OfferProduction/Indexwd?forma=default" class="btn btn-primary pull-right">
                        <span class="fa fa-retweet"></span> ümumi
                    </a>
                    }
                    else
                    {
                        <a href="/OfferProduction/Indexwd?forma=detail" class="btn btn-primary pull-right">
                            <span class="fa fa-retweet"></span> ətraflı
                        </a>
                    }
                    </h3>
                    <!-- /.box-tools -->
                </div>

                <div class="clearfix"></div>
                <br />
                <div class="form-group">
                    <div class="col-md-2">
                        <label>Məhsulun ünvanı</label><br />
                        @Html.Action("AdminUnit", "OfferProduction", new { actionName = "Indexwd" })
                    </div>

                    <div class="col-md-2">
                        <label>İstifadəçinin növü</label><br />
                        <select onchange="StatisticsSearch(this, 'OfferProduction', 'Indexwd', 'userType')" class="form-control select2" style="width:auto !important;">
                            <option value="0">Seçim edin</option>

                            <option value="15">Potensial istehsalçı</option>
                            <option value="11">Satıcı (İdxalçı)</option>

                        </select>
                    </div>

                    <div class="col-md-1">
                        <label>Hüquqi statusu</label><br />
                        <select onchange="StatisticsSearch(this, 'OfferProduction', 'Indexwd', 'legalStatus')" class="form-control select2" style="width:auto !important;">
                            <option value="0">Seçim edin</option>

                            <option value="26">Fiziki şəxs</option>
                            <option value="50">Hüquqi şəxs</option>

                        </select>
                    </div>

                    <div class="col-md-2 col-md-offset-1">
                        <label>Başlanğıc tarix</label><br />
                        <input id="startDate" class="text-box single-line" type="datetime">
                    </div>
                    <div class="col-md-2">
                        <label>Son tarix</label><br />
                        <input id="endDate" class="text-box single-line" type="datetime">
                    </div>
                    <div class="col-md-2">
                        <label>&nbsp;</label><br />
                        <div class="btn btn-primary" id="btnSearch" onclick="SearchTimePeriod('1','OfferProduction', 'Indexwd')"><span class="glyphicon glyphicon-search"></span> Axtar</div>
                        <div class="btn btn-danger" id="btnClear" onclick="SearchTimePeriod('2', 'OfferProduction', 'Indexwd')"><span class="glyphicon glyphicon-remove"></span> İmtina</div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />


                <table class="table table-hover table-striped table-bordered" style="margin-bottom:0;">
                    <tbody>
                        <tr>
                            <th class="col-md-4">
                                Məhsulun adı<br />
                                @*@Html.Action("ProductCatalogForSale", "OfferProduction", new { actionName = "Indexwd" })*@
                            </th>
                            <th class="col-md-2">
                                Miqdarı (vahidi)
                            </th>
                            <th class="col-md-2">
                                @Html.DisplayNameFor(model => model.price)
                            </th>
                            <th class="col-md-4">
                                Təklifin ünvanı - Mənşəyi
                            </th>
                        </tr>
                    </tbody>
                </table>
                <div id="AjaxPaginationList">
                    @Html.Partial("PartialIndexwd")
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/pagedList.js"></script>




