@model Emsal.UI.Models.OfferStateViewModel
@*@using PagedList.Mvc;*@


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";

}

<script src="~/ContentProfile/js/State.js"></script>
<br />
<div class="btn-group pull-right">
    <a class="btn btn-primary" href="/OfferState?stateStatusEV=Yayinda">Yeni daxil olmuş</a>
    <a class="btn btn-primary" href="/OfferState?stateStatusEV=Tesdiqlenen">Təsdiqlənən</a>
    <a class="btn btn-primary" href="/OfferState?stateStatusEV=reject">İmtina olunan</a>
</div>
<div class="clearfix"></div>
<br />
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <!-- /.box-tools -->
                </div>
                <table class="table table-hover table-striped table-bordered" style="margin-bottom:0;">
                    <tbody>
                        <tr>
                            @if (Model.isMain == 0)
            {
                                <th class="col-md-1" style="width:30px;float:left;border:none;">#</th>
                            }
                            <th class="col-md-2">
                                Məhsulun adı<br />
                                <input onkeyup="OfferStateSearch(this, 'productName')" class="form-control" placeholder="axtar" />
                            </th>
                            <th class="col-md-1">
                                Miqdarı (vahidi)
                            </th>
                            <th class="col-md-1">
                                Potensial miqdarı (vahidi)
                            </th>
                            <th class="col-md-1">
                                Qiyməti (AZN-lə) 
                                @*@Html.DisplayNameFor(model => model.price)*@
                            </th>
                            <th class="col-md-1">
                                Qeyd
                            </th>
                            <th class="col-md-2">
                                İnfo<br />
                                <input onkeyup="OfferStateSearch(this, 'userInfo')" class="form-control" placeholder="axtar" />
                            </th>
                            <th class="col-md-1">
                                İstehsalçı növü<br />
                                <select class="form-control" onchange="OfferStateSearch(this, 'rId')">
                                    <option value="">Seçim edin</option>
                                    <option value="15">Potensial istehsalçı</option>
                                    <option value="11">Satıcı (İdxalçı)</option>
                                </select>
                            </th>
                            <th class="col-md-2">
                                Sənədlər
                            </th>
                            @if (Model.isMain == 0)
            {
                                <th class="col-md-1 shsingle text-center">imtina</th>
                            }
                        </tr>
                    </tbody>
                </table>
                <div id="AjaxPaginationList">
                    @Html.Partial("PartialIndex")
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/ContentProfile/js/pagedList.js"></script>




