@model Emsal.UI.Models.SpecialSummaryViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SpecialSummaryLayout.cshtml";
}



<div class="tesdiqlenen">
    <div class="mesajlar">
        <h4 class="text-bold">Təkliflər</h4>

        <div id="specialSummaryMain">
            @Html.Partial("PartialOnAirOffers")
            @*@Html.Action("ConfirmedOnAirOffers", "SpecialSummary", new { UserID = 1 })*@
        </div>
    </div>
</div>
