@{
    ViewBag.Title = "PhoneRegisterLast";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login_2</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/Content/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="~/Content/css/jumbotron.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">

    <link href="~/Content/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/css/owl.theme.css" rel="stylesheet">
    <link href="~/Content/css//ihover.css" rel="stylesheet">
    <link href="~/Content/css/js-image-slider.css" rel="stylesheet">
    <link href="~/Content/css/ddmenu.css" rel="stylesheet">

    <!-- Bootstrap core JS -->

    <script src="~/Content/js/jquery-1.12.3.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/ie10-viewport-bug-workaround.js"></script>
    <script src="~/Content/js/ie-emulation-modes-warning.js"></script>

    <script src="~/Content/js/owl.carousel.js"></script>
    <script src="~/Content/js/ddmenu.js"></script>
    <script src="~/Content/js/cast_sender.js"></script>
    <script src="~/Content/js/jssor.slider.mini.js"></script>
    <script src="~/Content/js/js-image-slider.js"></script>

    <script src="~/Content/js/emsal.js"></script>


</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home/Index"><h3>tedaruk.az</h3></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Axtar...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                        <div class="navbar_right">
                            <span><a href="">Ətraflı axtar</a></span>
                            <span><a href="/">Giriş</a></span>
                            <span><a href="register">Qeydiyyat</a></span>
                            <span><button type="button" class="btn btn-primary" id="linkToIndex">Pulsuz elan ver</button></span>
                        </div>
                    </form>
                </div><!--/.navbar-collapse -->
            </div>
        </nav>
    </header>
    <section>
        <div class="container">
            <div class="user-login_2">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <img src="~/Content/img/email_send.png">
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="user-login_2_right">
                            <h3 class="text-bold">Son bir addm qaldı</h3>
                            <h4>
                                Üzvlük işlərinizi tamamlamaq üçün xxx@gmail.com
                                ünvanına göndərdiyiniz linki təsdiqləməyinizi gözləyirik.
                            </h4>
                            <p>Təsdiq üçün e-məktub gəlmədisə:</p>
                            <ul>
                                <li>E-ünvanınızı yanlış yazmış ola bilirsiniz. <a href="">Necə dəyişdirə bilərəm?</a></li>
                                <li>Məktub “spam” qutusuna düşmüş ola bilər. <a href="">Nə etməliyəm?</a></li>
                                <li>Təsdiq üçün məktubu <a href="">təkrar göndər.</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear-both"></div>
        </div>
    </section>
 
    @Html.Partial("~/Views/Home/Footer.cshtml")


</body>
</html>
