@{
    ViewBag.Title = "NotSentYetOffers";
    Layout = "~/Views/Shared/_LayoutSpecialSummary.cshtml";
}
<script src="~/ContentProfile/js/DemandProduction.js"></script>
<style>
    .bttns {
        display: none;
    }


</style>
<div class="tesdiqlenen">
    <div class="mesajlar">
        <div id="selectedProducts">
            @Html.Action("SelectedProducts", "DemandProduction", new { noButton = false, rurl = "/GovernmentOrganisationSpecialSummary/NotSentYetOffers" })
            @*<script>
                            $(document).ready(function () {
                                $.ajax({
                                    url: '/DemandProduction/SelectedProducts',
                                    type: 'GET',
                                    success: function (result) {
                                        $('#selectedProducts').html(result);
                                    },
                                    error: function () {

                                    }
                                });
                            });
                </script>*@
        </div>
    </div>
</div>

