@model Emsal.AdminUI.Models.DemandProductionViewModel
@{
    ViewBag.Title = "ProductCatalog";
    Layout = "";
}
<style>
    .select2 {
        width: 100% !important;
    }
</style>

<select onchange="StatisticsSearch(this,'DemandProduction', '@Model.actionName', 'addressId')" class="form-control select2" style="width:auto !important;">
    <option value="0">Məhsulun ünvanı üzrə axtar</option>
    @foreach (var item in Model.PRMAdminUnitList)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>



