@model Emsal.AdminUI.Models.DemandProductionViewModel
@*@using PagedList.Mvc;*@


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Tələb - Təklif</h3>
                    <!-- /.box-tools -->
                </div>

                <div class="clearfix"></div>
                <br />
                <div class="form-group">
                    <div class="col-md-2">
                        <label>Başlanğıc tarix</label><br />
                        <input id="startDate" class="text-box single-line" type="datetime">
                    </div>
                    <div class="col-md-2">
                        <label>Son tarix</label><br />
                        <input id="endDate" class="text-box single-line" type="datetime">
                    </div>
                    <div class="col-md-2">
                        <label>&nbsp;</label><br />
                        <div class="btn btn-primary" id="btnSearch" onclick="SearchTimePeriod('1', 'DemandProduction', 'DemandOfferProductionTotal')"><span class="glyphicon glyphicon-search"></span> Axtar</div>
                        <div class="btn btn-danger" id="btnClear" onclick="SearchTimePeriod('2', 'DemandProduction', 'DemandOfferProductionTotal')"><span class="glyphicon glyphicon-remove"></span> İmtina</div>
                    </div>

                    <div class="col-md-2">
                        <label>Məhsulun ünvanı</label><br />
                        @Html.Action("AdminUnit", "DemandProduction", new { actionName = "DemandOfferProductionTotal" })
                    </div>

                </div>
                <div class="clearfix"></div>
                <br />

                <table class="table table-hover table-striped table-bordered" style="margin-bottom:0;">
                    <tbody>
                        <tr>
                            <th class="col-md-3">
                                Ərzaq məhsullarının adı və növü
                                @*<br />*@
                                @*<input onkeyup="DemandOfferProductionTotal('DemandOfferProductionTotal', this, 'productName')" class="form-control" placeholder="axtar" />*@
                            </th>
                            <th class="col-md-1">
                                Ölçü vahidi
                            </th>
                            <th class="col-md-1">
                                Cəmi tələbat
                            </th>
                            <th class="col-md-1">
                                Cəmi təklif
                            </th>
                            <th class="col-md-1">
                                Tələb və təklifin fərqi<br />
                            </th>
                        </tr>
                    </tbody>
                </table>
                <div id="AjaxPaginationList">
                    @Html.Partial("PartialDemandOfferProductionTotal")
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/pagedList.js"></script>




