@model Emsal.AdminUI.Models.DemandProductionViewModel
@{
    ViewBag.Title = "";
    Layout = "";
}
<style>
    .select2 {
        width: 100% !important;
    }
</style>

<select onchange="StatisticsSearch(this,'DemandProduction', '@Model.actionName', 'economicZoneId')" class="form-control select2" style="width:auto !important;">
    <option value="0">Bölgə üzrə axtar</option>
    @foreach (var item in Model.AdminUnitRegionList)
    {
        <option value="@item.ID">@item.regionName</option>
    }
</select>



