@model Emsal.AdminUI.Models.DemandProductionViewModel
@*@using PagedList.Mvc;*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Müraciətlər</h3>
                    <!-- /.box-tools -->
                </div>
                <table class="table table-hover table-striped table-bordered">
                    <tbody>
                        <tr>
                            @if (Model.isMain == 0)
            {
                                <th class="col-md-1">#</th>
                            }
                            <th class="col-md-3">
                                Məhsulun adı<br />
                                @Html.Action("ProductCatalogForSale", "DemandProduction", new { actionName = "Index" })
                            </th>
                            <th class="col-md-1">
                                Miqdarı (vahidi)
                            </th>
                            <th class="col-md-1">
                                @Html.DisplayNameFor(model => model.price)
                            </th>
                            @*<th class="col-md-2">
                                                                İnfo<br />
                                <input onkeyup="DemandProductionSearch(this, 'userInfo')" class="form-control" placeholder="axtar" />
                                                            </th>*@
                            <th class="col-md-1">
                                Təşkilat<br />
                                <input onkeyup="DemandProductionSearch(this, 'adminUnit')" class="form-control" placeholder="axtar" />
                            </th>
                            <th class="col-md-2">
                                Sənədlər
                            </th>
                            <th class="col-md-2">
                                Qeyd
                            </th>
                            @if (Model.isMain == 0)
            {
                                <th class="col-md-1 shsingle text-center">imtina</th>
                            }
                        </tr>
                    </tbody>
                </table>
                <div id="AjaxPaginationList">
                    @Html.Partial("PartialIndex")
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/pagedList.js"></script>


