@model Emsal.AdminUI.Models.DemandProductionViewModel
@*@using PagedList.Mvc;*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary" style="padding:30px;">
                <div class="box-header with-border">
                    <h3 class="box-title">Məhsul üzrə tələb və təkliflər</h3>
                    <!-- /.box-tools -->
                </div>
                <div class="clearfix"></div>
                <br />

                <div class="form-group">

                    <div class="col-md-2">
                        <label>Məhsulun adı</label><br />
                        @Html.Action("ProductCatalogForSale", "DemandProduction", new { actionName = "TotalDemandOffersGroup" })
                    </div>

                    <div class="col-md-2">
                        <label>İstifadəçinin növü</label><br />
                        <select onchange="StatisticsSearch(this, 'DemandProduction', 'TotalDemandOffersGroup', 'userType')" class="form-control select2" style="width:auto !important;">
                            <option value="0">Seçim edin</option>

                            <option value="15">Potensial istehsalçı</option>
                            <option value="11">Satıcı (İdxalçı)</option>

                        </select>
                    </div>

                    <div class="col-md-2">
                        <label>FİN | VÖEN</label><br />
                        <input onkeyup="StatisticsSearch(this, 'DemandProduction', 'TotalDemandOffersGroup', 'finVoen')" class="form-control" placeholder="axtar" />
                    </div>

                </div>

                <div id="AjaxPaginationList">
                    @Html.Partial("PartialTotalDemandOffersGroup")
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/pagedList.js"></script>


