    .select2-results__option {
        float: left;
        margin-right: 5px !important;
        border-right: 1px;
        background: #f2f2f2;
        margin-bottom: 3px !important;
    }

    .select2
    {
        width:100% !important;
    }
