@*@model Emsal.UI.Models.ProductCatalogViewModel*@

@{
    ViewBag.Title = "OfferProduction";
    Layout = "";
}


<div class="thumbnail col-md-12" style="padding: 20px;opacity:0.8;">

        <div class="btn btn-primary col-sm-1 pull-right" onclick="OfferHomeSearchFV()">
            <i class="glyphicon glyphicon-ok"></i>
            Yoxlayın
        </div>        

    <div class="col-sm-4 pull-right">
        <input class="form-control" id="finvoen" type="text" placeholder="FİN və ya VÖEN-i daxil edin..." />
    </div>
    <div class="clearfix"></div>

                            <h2 style="color: #000; margin-top: 10px; text-align:center;" class="text-bold mt-50">TƏKLİFLƏR</h2>
                            <table class="table table-bordered" style="margin:0;">
                                <tbody>
                                    <tr>
                                        <th class="col-sm-1" style="text-align:center;">Şəkil</th>
                                        <th class="col-sm-6">
                                            Məhsulun adı
                                            <input onkeyup="OfferHomeSearch(this, 'productName')" class="form-control" placeholder="axtar" />
                                        </th>
                                        <th class="col-sm-2">Çəkisi (ölçü vahidi)</th>
                                        <th class="col-sm-2">Ümumi məbləğ</th>
                                        <th class="col-sm-1" style="text-align:center;">Keçid</th>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="AjaxPaginationList">
                                @Html.Partial("PartialOfferProduction")
                            </div>
                        </div>


<script src="~/Content/UI/js/pagedList.js"></script>