@model Emsal.UI.Models.ProductCatalogViewModel

@{
    ViewBag.Title = "ProductCatalog";
    Layout = "";
}
<style>
    .select2 {
        width: 100% !important;
    }
</style>

<select onchange="StatisticsSearch(this,'OfferHome','@Model.actionName', 'productId')" class="form-control select2" style="width:auto !important;">
    <option value="0">Satılacaq məhsul üzrə axtar</option>
    @foreach (var item in Model.OfferProductsList)
    {
        <option value="@item.productID">@item.productName (@item.parentName)</option>
    }
</select>



