@*@model Emsal.UI.Models.ProductCatalogViewModel*@
    
@{
    ViewBag.Title = "Announcement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="AjaxPaginationList">
    @Html.Partial("PartialAnnouncement")
</div>

<script src="~/Content/UI/js/pagedList.js"></script>