@model Emsal.UI.Models.ProductCatalogViewModel

@{
    ViewBag.Title = "Announcement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .list-group {
        margin-bottom: 0;
    }
    #center .list-group-item{
        padding: 5px 2px 5px 15px;
    }
    #center .list-group li::before{
        margin:0;
        padding:0;
    }
</style>

<div id="menu-container">
    <!-- gallery start -->
    <div class="content homepage" id="menu-1">
        <div class="container">
            <div class="right_below" id="center" style="padding-top:0px;">
                <div class="elanlar">
                    <div class="col-md-3">
                        @Html.Action("ProductCatalog", "Home", new { pId = 0 })
                    </div>
                    <div class="col-md-9">
                        <div id="AjaxPaginationList">
                            @Html.Partial("PartialAnnouncement")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/Content/UI/js/pagedList.js"></script>
