@model Emsal.UI.Models.ProductCatalogViewModel

@{
    ViewBag.Title = "Announcement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        var href;
        var pathname = window.location.pathname;
        var search = window.location.search;

        var curpathname = pathname + search;

        jQuery('.bg').find('a').each(function () {
            href = $(this).attr('href');
            if (href == curpathname) {
                $(this).addClass('active');
            }
        });
    });
</script>
<style>
    .list-group {
        margin-bottom: 0;
    }

    #center .list-group-item {
        padding: 5px 2px 5px 15px;
    }

    #center .list-group li::before {
        margin: 0;
        padding: 0;
    }

    .active {
        background-color: #428bca !important;
        border-color: #357ebd !important;
        color: #fff !important;
    }
</style>

<div id="menu-container">
    <!-- gallery start -->
    <div class="content homepage" id="menu-1">
        <div class="container">
            <div class="right_below" id="center" style="padding-top:0px;">
                <div class="elanlar">
                    <div class="col-md-3" style="padding-left:0;">

                        <h3 class="text-bold" style="color:#fff;">ELANLARIN GÖRÜNÜŞÜ</h3>
                        <hr style="margin:5px 0 5px 0;" />

                        <div class="bg text-center">
                            <a href="/Home/Announcement" class="btn btn-default" style="margin-bottom:5px;">
                                @*<span class="glyphicon glyphicon glyphicon-link"></span>*@ Elan şəkillərlə
                            </a>
                            <a href="/Home/Announcement?form=gl" class="btn btn-default" style="margin-bottom:5px;">
                                Elan cədvəl formasında
                            </a>
                        </div>
                        <div class="clearfix" style="margin-bottom:25px;"></div>


                        <div class="categoria_left_header">
                            <h3 class="text-bold">AXTARIŞ</h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item" style="padding-top:15px;">
                                <span>
                                    <a id="rootId" style="cursor:pointer;" onclick="GetProductCatalog(this, -1)">
                                        Bütün məhsullar
                                    </a>
                                    <input hidden value="0" class="lstatus" />
                                    <span style="margin-left:0px;" class="resp"></span>
                                </span>
                            </li>
                        </ul>
                        @*@Html.Action("ProductCatalog", "Home", new { pId = 0 })*@
                    </div>
                    <div class="col-md-9" style="padding:0;">

                        <div id="AjaxPaginationList">
                            @Html.Partial(Model.partial)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/Content/UI/js/pagedList.js"></script>
