@{
    Layout = "";
}

<footer>
    <div class="container">
        <div class="footer_menu">
            @*<div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <ul class="list-unstyled">
                        <li><h4>Korporativ</h4></li>
                        <li><a href="">Haqqımızda</a></li>
                        <li><a href="">Media ilə əlaqələr və şəkillər</a></li>
                        <li><a href="">İnsan resursları</a></li>
                        <li><a href="">Əlaqə</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <ul class="list-unstyled">
                        <li><h4>Xidmətlərimiz</h4></li>
                        <li><a href="">Təhlükəsiz elektron ticarət</a></li>
                        <li><a href="">Elanların qəbulu</a></li>
                        <li><a href="">Məhsulların yerbəyer olunması</a></li>
                        <li><a href="">Məhsulların paylanması</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <ul class="list-unstyled">
                        <li><h4>Məhsullar</h4></li>
                        <li><a href="">Heyvan mənşəli məhsullar</a></li>
                        <li><a href="">Bitki mənşəli məhsullar</a></li>
                        <li><a href="">Ərzaq məhsulları</a></li>
                        <li><a href="">Digər</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <ul class="list-unstyled">
                        <li><h4>Bizi izləyin</h4></li>
                        <li><a title="Facebook" target="_blank" href="">Facebook</a></li>
                        <li><a title="Twitter" target="_blank" href="">Twitter</a></li>
                        <li><a title="Linkedin" target="_blank" href="">Linkedin</a></li>
                        <li><a title="Google" target="_blank" href="">Google+</a></li>
                        <li><a title="Pinterest" target="_blank" href="">Pinterest</a></li>
                        <li><a title="Youtube" target="_blank" href="">Youtube</a></li>
                    </ul>
                </div>
            </div>*@
        </div>
        <div class="phone_email_play_store">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="phone_email">
                        <ul class="list-unstyled">
                            <li>
                                <img src="~/Content/img/phone.png">
                                <div class="phone">
                                    <p>Çağrı mərkəzi</p>
                                    <p>1652</p>
                                </div>
                            </li>
                            <li>
                                <img src="~/Content/img/email.png">
                                <div class="phone">
                                    <p>Dəstək mərkəzi</p>
                                    <p>tedaruk@agro.gov.az</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clear-both"></div>
                </div>

                @*<div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="play_store">
                        <ul class="list-unstyled">
                            <li>
                                <a href=""><img src="~/Content/img/google_play.png"></a>
                            </li>
                            <li>
                                <a href=""><img src="~/Content/img/apple_store.png"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="clear-both"></div>
                </div>*@
            </div>
        </div>

        @*<div class="note">
            <p>
                tedaruk.az saytında iştirak edən istifadəçilərin yaratdığı bütün məzmun, görüş və məlumatların doğruluğu,
                əksiksiz və dəyişməz olduğu, yayımlanması ilə əlaqədar qanuni öhdəliklər məzmunu təşkil edən istifadəçiyə aiddir.
                Bu məzmunun, görüş və məlumatların səhv, nöqsan və ya qanunlarla təşkil qaydalara etməsində tedaruk.az
                heç bir şəkildə məsul deyil. Əgər suallarınız üçün elan sahibi ilə əlaqəyə keçə bilərsiniz.
            </p>
        </div>*@

        <div class="copyright">
            <p class="f-left">Copyright ©2016, tedaruk.az</p>
            @*<p class="f-right">Limitli adətlərdə və müəyyən kateqoriyalarda</p>*@
        </div>
    </div>
</footer>