@model Emsal.UI.Models.ProductCatalogViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.prodAltName = "";
    Model.prodName = "";
}

<style>
    .nav-tabs > li {
        background: #f2f2f2;
    }

        .nav-tabs > li > a {
            border-radius: 0;
            font-size: 20px;
        }

    .tab-pane {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<div id="content" style="margin-bottom: 30px;">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#users" data-toggle="tab"><i class="fa fa-users"></i> Potensial istehsalçılar</a>
        <li><a href="#announcement" data-toggle="tab"><i class="fa fa-bullhorn"></i> Elanlar</a></li>
        <li><a href="#info" data-toggle="tab"><i class="fa fa-clipboard"></i> İstifadə qaydaları</a>
    </ul>
    <div id="my-tab-content" class="tab-content">

        <div class="tab-pane row" id="announcement">
            @Html.Action("Announcement", "Home")
        </div>

        <div class="tab-pane active" id="users">
           <style>
    .list-group-item
    {
        border:1px solid #d9edf7 !important;
    }
</style>

@*<div id="puserBut" style="font-size: 20px; cursor: pointer; padding: 10px; margin-top: -20px;background:#fafafa; border: 3px solid #f2f2f2;">
        <i class="fa fa-search"></i> &nbsp;&nbsp;&nbsp; "POTENSİAL İSTEHSALÇILAR" üzrə ətraflı axtarış
    </div>*@

<div class="col-md-3" id="puserMenu" style="background: #fafafa; padding-bottom: 10px;border: 3px solid #f2f2f2; border-radius: 0 0 5px 5px;">
      @*@Html.Action("AdminUnit", "Home", new { pId = 0 })*@
        <script>
                        $(document).ready(function () {
                            $.ajax({
                                url: '/Home/AdminUnit?pId=0',
                                type: 'GET',
                                success: function (result) {
                                    $('#puserMenu').html(result);
                                },
                                error: function () {

                                }
                            });
                        });
        </script>
</div>

            <div class="col-md-9">
                <div class="col-md-4 col-md-offset-8" style="padding:0;">
                    
                </div>
                <div class="clearfix"></div>
                <br />
                <table class="table table-bordered" style="margin:0;">
                    <thead>
                        <tr>
                            <th class="col-sm-3"><div class="col-sm-8">Ad </div><div style="cursor:pointer;float:right;" onclick="GetUserInfo(this,'name')" class="sortingpu"></div></th>
                            <th class="col-sm-3"><div class="col-sm-8">Soyad </div><div style="cursor:pointer;float:right;" onclick="GetUserInfo(this,'surname')" class="sortingpu"></div></th>
                            <th class="col-sm-6"><div class="col-sm-8">Bölgə</div><div style="cursor:pointer;float:right;" onclick="GetUserInfo(this, 'adminUnitName')" class="sortingpu"></div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-sm-3"><input onkeyup="UserInfoSearch(this, 'name')" class="form-control" placeholder="axtar"/></td>
                            <td class="col-sm-3"><input onkeyup="UserInfoSearch(this, 'surname')" class="form-control" placeholder="axtar"/></td>
                            <td class="col-sm-6"><input onkeyup="UserInfoSearch(this, 'adminUnitName')" class="form-control" placeholder="axtar"/></td>
                        </tr>
                    </tbody>
                </table>

                @Html.Action("UserInfo", "Home")
            </div>
        </div>

        <div class="tab-pane" id="info">
            <h3 style="text-align: center;">Azərbaycan Respublikasının Konstitusiyası</h3>
            <p style="text-align: justify">Azərbaycan xalqı özünün çoxəsrlik dövlətçilik ənənələrini davam etdirərək, "Azərbaycan Respublikasının dövlət müstəqilliyi haqqında" Konstitusiya Aktında əks olunan prinsipləri əsas götürərək, bütün cəmiyyətin və hər kəsin firavanlığının təmin edilməsini arzulayaraq, ədalətin, azadlığın və təhlükəsizliyin bərqərar edilməsini istəyərək, keçmiş, indiki və gələcək nəsillər qarşısında öz məsuliyyətini anlayaraq, suveren hüququndan istifadə edərək, təntənəli surətdə aşağıdakı niyyətlərini bəyan edir:</p>
            <p style="text-align: justify">- Azərbaycan dövlətinin müstəqilliyini, suverenliyini və ərazi bütövlüyünü qorumaq;</p>
            <p style="text-align: justify">- Konstitusiya çərçivəsində demokratik quruluşa təminat vermək;</p>
            <p style="text-align: justify">- vətəndaş cəmiyyətinin bərqərar edilməsinə nail olmaq;</p>
            <p style="text-align: justify">- xalqın iradəsinin ifadəsi kimi qanunların aliliyini təmin edən hüquqi, dünyəvi dövlət qurmaq;</p>
            <p style="text-align: justify">- ədalətli iqtisadi və sosial qaydalara uyğun olaraq hamının layiqli həyat səviyyəsini təmin etmək;</p>
            <p style="text-align: justify">- ümumbəşəri dəyərlərə sadiq olaraq bütün dünya xalqları ilə dostluq, sülh və əmin-amanlıq şəraitində yaşamaq və bu məqsədlə qarşılıqlı fəaliyyət göstərmək.</p>
            <p style="text-align: justify">Yuxarıda sadalanan ülvi niyyətlərlə ümumxalq səsverməsi - referendum yolu ilə bu Konstitusiya qəbul edilir.</p>
            <p style="text-align: justify">Maddə 1. Hakimiyyətin mənbəyi</p>
            <p style="text-align: justify">I. Azərbaycan Respublikasında dövlət hakimiyyətinin yeganə mənbəyi Azərbaycan xalqıdır.</p>
            <p style="text-align: justify">II. Azərbaycan xalqı Azərbaycan Respublikası ərazisində və ondan kənarda yaşayan, Azərbaycan dövlətinə və onun qanunlarına tabe sayılan Azərbaycan Respublikası vətəndaşlarından ibarətdir; bu isə beynəlxalq hüquqla müəyyənləşdirilmiş normaları istisna etmir.</p>
            <p style="text-align: justify">Maddə 2. Xalqın suverenliyi</p>
            <p style="text-align: justify">I. Sərbəst və müstəqil öz müqəddəratını həll etmək və öz idarəetmə formasını müəyyən etmək Azərbaycan xalqının suveren hüququdur.</p>
            <p style="text-align: justify">II. Azərbaycan xalqı öz suveren hüququnu bilavasitə ümumxalq səsverməsi — referendum və ümumi, bərabər və birbaşa seçki hüququ əsasında sərbəst, gizli və şəxsi səsvermə yolu ilə seçilmiş nümayəndələri vasitəsilə həyata keçirir.</p>
        </div>
    </div>
</div>

