@model Emsal.UI.Models.ProductCatalogViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="menu-container">
    <!-- gallery start -->
    <div class="content homepage" id="menu-1">
        <div class="container">
            <div class="row templatemo_servicerow" style="margin-top:285px;">
                <div class="templatemo_hexservices none-block1 col-sm-6">
                    <div class="blok text-center">
                        <div class="hexagon-a" style="display:none;">
                            <a class="hlinktop" href="/Home/PotentialUser">
                                <div class="hexa-a">
                                    <div class="hcontainer-a">
                                        <div class="vertical-align-a">
                                            <span class="texts-a"><i class="fa fa-users"></i><br>Potensial istehsalçılar</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="hexagonservices" style="display:none;">
                            <a class="hlinkbott" href="#">
                                <div class="hexa">
                                    <div class="hcontainer">
                                        <div class="vertical-align">
                                            <span class="texts"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="templatemo_servicetext">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="templatemo_hexservices col-sm-6 col-xs-6">
                    <div class="blok text-center">
                        <div class="hexagon-a">
                            <a class="hlinktop" href="/Home/Services">
                                <div class="hexa-a">
                                    <div class="hcontainer-a">
                                        <div class="vertical-align-a">
                                            <span class="texts-a"><i class="fa fa-cogs"></i><br>Əməliyyatlara keçid</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="hexagonservices">
                            <a class="hlinkbott" href="#">
                                <div class="hexa">
                                    <div class="hcontainer">
                                        <div class="vertical-align">
                                            <span class="texts"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="templatemo_servicetext">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="templatemo_hexservices none-block1 col-sm-6" style="width:10%;">
                    <div class="blok text-center">
                        <div class="hexagon-a" style="display:none;">
                            <a class="hlinktop" href="/OfferHome">
                                <div class="hexa-a">
                                    <div class="hcontainer-a">
                                        <div class="vertical-align-a">
                                            <span class="texts-a"><i class="fa fa-list"></i><br>Təkliflər</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="hexagonservices" style="display:none;">
                            <a class="hlinkbott" href="#">
                                <div class="hexa">
                                    <div class="hcontainer">
                                        <div class="vertical-align">
                                            <span class="texts"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="templatemo_servicetext">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="templatemo_hexservices col-sm-6">
                    <div class="blok text-center">
                        <div class="hexagon-a">
                            <a class="hlinktop" href="/Home/Announcement">
                                <div class="hexa-a">
                                    <div class="hcontainer-a">
                                        <div class="vertical-align-a">
                                            <span class="texts-a"><i class="fa fa-bars"></i><br>Tədarük elanları</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="hexagonservices">
                            <a class="hlinkbott" href="#">
                                <div class="hexa">
                                    <div class="hcontainer">
                                        <div class="vertical-align">
                                            <span class="texts"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="templatemo_servicetext">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="templatemo_hexservices none-block1 col-sm-6">
                    <div class="blok text-center">
                        <div class="hexagon-a" style="display:none;">
                            <a class="hlinktop" href="/Other/legislation">
                                <div class="hexa-a">
                                    <div class="hcontainer-a">
                                        <div class="vertical-align-a">
                                            <span class="texts-a"><i class="fa fa-book"></i><br>Qanunvericilik</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="hexagonservices" style="display:none;">
                            <a class="hlinkbott" href="#">
                                <div class="hexa">
                                    <div class="hcontainer">
                                        <div class="vertical-align">
                                            <span class="texts"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="templatemo_servicetext">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="row templatemo_servicerow">
                <div class="templatemo_hexservices col-sm-6">
                    <div class="blok text-center">
                        <div class="hexagon-a">
                            <a class="hlinktop" href="/Login/Redirect">
                                <div class="hexa-a">
                                    <div class="hcontainer-a">
                                        <div class="vertical-align-a">
                                            <span class="texts-a"><i class="fa fa-link"></i><br>Təklif yerləşdir</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="hexagonservices">
                            <a class="hlinkbott" href="#">
                                <div class="hexa">
                                    <div class="hcontainer">
                                        <div class="vertical-align">
                                            <span class="texts"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="templatemo_servicetext">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="templatemo_hexservices none-block1 col-sm-6">
                    <div class="blok text-center">
                        <div class="hexagon-a" style="display:none;">
                            <a class="hlinktop" href="/Home/Announcement">
                                <div class="hexa-a">
                                    <div class="hcontainer-a">
                                        <div class="vertical-align-a">
                                            <span class="texts-a"><i class="fa fa-bars"></i><br>Tədarük elanları</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="hexagonservices" style="display:none;">
                            <a class="hlinkbott" href="#">
                                <div class="hexa">
                                    <div class="hcontainer">
                                        <div class="vertical-align">
                                            <span class="texts"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="templatemo_servicetext">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="templatemo_hexservices none-block col-sm-6">
                    <div class="blok text-center">
                        <div class="hexagon-a" style="display:none;">
                            <a class="hlinktop" href="/OfferHome">
                                <div class="hexa-a">
                                    <div class="hcontainer-a">
                                        <div class="vertical-align-a">
                                            <span class="texts-a"><i class="fa fa-list"></i><br>Təkliflər</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="hexagonservices" style="display:none;">
                            <a class="hlinkbott" href="#">
                                <div class="hexa">
                                    <div class="hcontainer">
                                        <div class="vertical-align">
                                            <span class="texts"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="templatemo_servicetext">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="templatemo_hexservices none-block col-sm-6" style="width:10%;">
                    <div class="blok text-center">
                        <div class="hexagon-a" style="display:none;">
                            <a class="hlinktop" href="/Home/Services">
                                <div class="hexa-a">
                                    <div class="hcontainer-a">
                                        <div class="vertical-align-a">
                                            <span class="texts-a"><i class="fa fa-cogs"></i><br>Əməliyyatlara keçid</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="hexagonservices" style="display:none;">
                            <a class="hlinkbott" href="#">
                                <div class="hexa">
                                    <div class="hcontainer">
                                        <div class="vertical-align">
                                            <span class="texts"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="templatemo_servicetext">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="templatemo_hexservices col-sm-6">
                    <div class="blok text-center">
                        <div class="hexagon-a">
                            <a class="hlinktop" href="/Home/PotentialUser">
                                <div class="hexa-a">
                                    <div class="hcontainer-a">
                                        <div class="vertical-align-a">
                                            <span class="texts-a" style="padding-left: 15px;"><i class="fa fa-users"></i><br>Potensial istehsalçılar</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="hexagonservices">
                            <a class="hlinkbott" href="#">
                                <div class="hexa">
                                    <div class="hcontainer">
                                        <div class="vertical-align">
                                            <span class="texts"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="templatemo_servicetext">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
            </div>


            <div class="row templatemo_servicerow">
                <div class="templatemo_hexservices none-block1 col-sm-6">
                    <div class="blok text-center">
                        <div class="hexagon-a" style="display:none;">
                            <a class="hlinktop" href="/Home/PotentialUser">
                                <div class="hexa-a">
                                    <div class="hcontainer-a">
                                        <div class="vertical-align-a">
                                            <span class="texts-a"><i class="fa fa-users"></i><br>Potensial istehsalçılar</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="hexagonservices" style="display:none;">
                            <a class="hlinkbott" href="#">
                                <div class="hexa">
                                    <div class="hcontainer">
                                        <div class="vertical-align">
                                            <span class="texts"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="templatemo_servicetext">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="templatemo_hexservices col-sm-6">
                    <div class="blok text-center">
                        <div class="hexagon-a">
                            <a class="hlinktop" href="/OfferHome">
                                <div class="hexa-a">
                                    <div class="hcontainer-a">
                                        <div class="vertical-align-a">
                                            <span class="texts-a"><i class="fa fa-list"></i><br>Təkliflər</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="hexagonservices">
                            <a class="hlinkbott" href="#">
                                <div class="hexa">
                                    <div class="hcontainer">
                                        <div class="vertical-align">
                                            <span class="texts"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="templatemo_servicetext">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="templatemo_hexservices none-block1 col-sm-6" style="width:10%;">
                    <div class="blok text-center">
                        <div class="hexagon-a" style="display:none;">
                            <a class="hlinktop" href="/OfferHome">
                                <div class="hexa-a">
                                    <div class="hcontainer-a">
                                        <div class="vertical-align-a">
                                            <span class="texts-a"><i class="fa fa-list"></i><br>Təkliflər</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="hexagonservices" style="display:none;">
                            <a class="hlinkbott" href="#">
                                <div class="hexa">
                                    <div class="hcontainer">
                                        <div class="vertical-align">
                                            <span class="texts"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="templatemo_servicetext">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="templatemo_hexservices col-sm-6">
                    <div class="blok text-center">
                        <div class="hexagon-a">
                            <a class="hlinktop" href="/Other/legislation" >
                                <div class="hexa-a">
                                    <div class="hcontainer-a">
                                        <div class="vertical-align-a">
                                            <span class="texts-a"><i class="fa fa-book"></i><br>Qanunvericilik</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="hexagonservices">
                            <a class="hlinkbott" href="#">
                                <div class="hexa">
                                    <div class="hcontainer">
                                        <div class="vertical-align">
                                            <span class="texts"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="templatemo_servicetext">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="templatemo_hexservices none-block1 col-sm-6">
                    <div class="blok text-center">
                        <div class="hexagon-a" style="display:none;">
                            <a class="hlinktop" href="/Other/legislation" >
                                <div class="hexa-a">
                                    <div class="hcontainer-a">
                                        <div class="vertical-align-a">
                                            <span class="texts-a"><i class="fa fa-book"></i><br>Qanunvericilik</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="hexagonservices" style="display:none;">
                            <a class="hlinkbott" href="#">
                                <div class="hexa">
                                    <div class="hcontainer">
                                        <div class="vertical-align">
                                            <span class="texts"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="templatemo_servicetext">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="useful_links">
    <div class="container">
        <h2 class="text-center">FAYDALI LİNKLƏR</h2>
        <div class="list-group">
            <!-- <a href="http://www.president.az/" class="list-group-item text-center"><img src="img/link1.png" alt=""></a>
            <a href="http://heydar-aliyev-foundation.org/az" class="list-group-item text-center"><img src="img/link2.png" alt=""></a> -->
            <a target="_blank" href="http://docs.tedaruk.az/" class="list-group-item text-center"><img src="~/Content/UI/img/link1.png" alt=""></a>
            <a href="/Other/activity" class="list-group-item text-center"><img src="~/Content/UI/img/link2.png" alt=""></a>
            <a target="_blank" href="http://www.agro.gov.az/" class="list-group-item text-center"><img src="~/Content/UI/img/link7.png" alt=""></a>
            <!-- <a href="http://www.azerbaijan.az/portal/index_a.html?lang=az" class="list-group-item text-center"><img src="img/link3.png" alt=""></a> -->
            <a target="_blank" href="http://www.virtualkarabakh.az/" class="list-group-item text-center"><img src="~/Content/UI/img/link4.png" alt=""></a>
            <!-- <a href="http://azertag.az/" class="list-group-item text-center"><img src="img/link5.png" alt=""></a> -->
            <a target="_blank" href="https://www.gov.az/" class="list-group-item text-center"><img src="~/Content/UI/img/link6.png" alt=""></a>
        </div>
    </div>
</section>