@model Emsal.UI.Models.ProductCatalogViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#rId").trigger('change');
    });    
</script>

<div id="menu-container">
    <div class="content homepage" id="menu-1">
        <div class="container">
            <div class="right_below" id="center" style="padding-top:0px;">
                <div class="elanlar">

                    <div class="thumbnail col-md-3">
                        <label class="control-label">İstifadəçinin növü</label><br />
                        <select id="rId" class="form-control" onchange="UserInfoSearch(this, 'rId')">
                            <option value="15">Potensial istehsalçı</option>
                            <option value="11">Satıcı (İdxalçı)</option>
                        </select>
                        <br />
                        <hr />
                        <br />
                        <div class="clearfix"></div>
                        <label class="control-label">Ünvanı</label><br />
                        <div id="puserMenu">
                        </div>
                    </div>

                    <div class="thumbnail col-md-9">                    

                        <h2 style="color: #000; margin-top: 30px; text-align:center;" id="userListHeader" class="text-bold mt-50">POTENSİAL İSTEHSALÇILAR</h2>

                        <div class="clearfix"></div>
                        <table class="table table-bordered" style="margin:0;">
                            <tbody>
                                <tr>
                                    <td class="col-sm-4 text-black text-bold"><div style="float:left;width:90%;">Soyad, ad (hüquqi şəxsin adı)</div><div style="cursor:pointer;float:right;" onclick="GetUserInfo(this,'name')" class="sortingpu"></div>
                                    <br />
                                        <input onkeyup="UserInfoSearch(this, 'name')" class="form-control" placeholder="axtar" />
                                    </td>
                                    <td class="col-sm-2 text-black text-bold"><div style="float:left;">Ünvan</div><div style="cursor:pointer;float:right;" onclick="GetUserInfo(this,'address')" class="sortingpu"></div><br />
                                        <input onkeyup="UserInfoSearch(this, 'address')" class="form-control" placeholder="axtar" />
                                    </td>
                                    <td class="col-sm-5 text-black text-bold"><div style="float:left;">İstehsal etdiyi məhsullar</div>
                                        <br />
                                        @Html.Action("ProductCatalogForSaleOffer", "Home", new { actionName = "UserInfo" })
                                    @*<br />
                                        <input onkeyup="UserInfoSearch(this, 'products')" class="form-control" placeholder="axtar" />*@
                                    </td>
                                    <td class="col-sm-1 text-center text-black text-bold">Tipi</td>
                                </tr>
                            </tbody>                  
                        </table>

                        @Html.Action("UserInfo", "Home")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
