@model Emsal.UI.Models.DemandProductionViewModel
@{
    ViewBag.Title = "DemandProduction";
    if (Model.isPDF == true)
    {
        Layout = "~/Views/Shared/_LayoutProfilePW.cshtml";
    }
    else
    {
        Layout = "";
    }
}
<h4>Tələb olunan məhsullar</h4>

<div class="row">

    @if (Model.isPDF == false)
    {
        <div class="col-md-6">
            <input id="SelectedProductsSearchPN" class="form-control" placeholder="Məhsulun adına görə axtar" />
        </div>
        <div class="col-md-6" style="padding:0;">
            <div class="btn btn-primary" onclick="SelectedProductsSearch('productName')">
                <i class="glyphicon glyphicon-search"></i>&nbsp;axtar
            </div>
            </div>
            <div class="clearfix"></div>
            <br />
    }
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div id="AjaxPaginationList">
                    @Html.Partial("PartialSelectedProducts")
                </div>
            </div>
        </div>

<script src="~/ContentProfile/js/pagedList.js"></script>
@if (Model.isPDF == true)
{
    @Html.Action("Style", "Home", new { pId = 0 })
}
