@model Emsal.UI.Models.OfferProductionViewModel

@{
    ViewBag.Title = "ProductOrigin";
    Layout = "";
    long itempid = 0;
}



@if (Model.PRMAdminUnitList.Count > 0)
{
    if (Model.originStatus == 0)
    {
        <div class="form-group col-md-3">
            <select name="productOriginId" required class="form-control unicase-form-control select select2">
                <option value="" selected>Seçim edin</option>
                @foreach (var item in Model.PRMAdminUnitList)
                {
                    if (Model.selectedPOriginId == item.Id)
                    {
                        <option selected value="@item.Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
            <span data-valmsg-replace="true" data-valmsg-for="productOriginId" class="field-validation-valid text-danger"></span>
        </div>
    }
    else
    {
        <input type="text" hidden name="productOriginId" value="1" />
    <label class="control-label" for="productOriginId"><span class="glyphicon glyphicon-chevron-right"></span> Azərbaycan respublikası</label>

    }
}