@model Emsal.UI.Models.OfferProductionViewModel
@{
    ViewBag.Title = "DemandProduction";
    if (Model.isPDF == true)
    {
        Layout = "~/Views/Shared/_LayoutProfilePW.cshtml";
    }
    else
    {
        Layout = "";
    }
}
<h4>Tələb olunan məhsullar</h4>

<div class="row">

    <div class="col-md-6">
        @Html.Action("ProductCatalogForSale", "OfferProduction", new { actionName = "SelectedProducts" })
    </div>

    <div class="bttns">
        <button class="btn btn-primary btn-lg pull-right btnadd" type="submit">
            <i class="glyphicon glyphicon-plus"></i>&nbsp;Təklifinizi əlavə edin
        </button>
        <div class="clearfix"></div>
        <br />
    </div>

    <div class="clearfix"></div>
    <br />
    <div class="col-md-12">

        <div id="AjaxPaginationList">
            @Html.Partial("PartialSelectedProducts")
        </div>
    </div>
</div>

<script src="~/ContentProfile/js/pagedList.js"></script>

