html, body, h1, h2, h3, h4, h5, h6, p, hr, ul, ol, li {
	margin:0px;
	padding:0px;
}

        .loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/ContentProfile/img/loading.gif') 50% 50% no-repeat rgba(0,0,0,.5);
    opacity:0.6;    
    display:none;
}
.list-group-item{
    text-align:left;
}
#menu-container
{
    min-height:900px !important;
}

.pagination-container, .box-footer
{
    text-align:center;
}
.text-box {
     background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}


.nobackground{
    background:none;
    text-align:left;
}
.clear-both {
 clear: both;
}

.f-left {
 float: left;
}

.f-right {
 float: right;
}

.f-none {
 float: none;
}

.text-white{
	color:#fff;
}

.text-black{
	color:#000000;
}

.text-green{
	color:#009846;
}

.text-red{
	color:#ff0000;
}

.text-bold {
	font-weight:bold;
}

.text-spacing {
	letter-spacing: 9.8px;
}



.bg_colorG {
	background:#089c07;
}

.box-shadow {
	box-shadow:0px 0px 5px 2px #fff;
}


.mt-75 {
	margin-top:75px;
}

.mt-50 {
	margin-top:50px;
}

.mb-0 {
	margin-bottom:0px !important;
}

.ml-85 {
	margin-left:85px;
}
/******************************************************************** header ****************************************************/

.site-header {
	background: #333;
	//margin-bottom:30px;
	opacity:0.9;
    position: fixed;
    margin: 0 auto;
    width: 100%;
	z-index: 2000;
}

.search_btn {
	margin-bottom:20px;
}

.search_btn img {
	float:left;
  
}

.search_btn .btn-primary {
	border: none;
}


.search_btn .btn-primary:hover, 
.search_btn .btn-primary:focus, 
.search_btn .btn-primary:active, 
.search_btn .btn-primary.active, 
.search_btn .open .dropdown-toggle.btn-primary {
   background-color: #ad973d;
   border:none;
}

.search_btn .btn-default {
    background: transparent;
    color: #fff;
	padding:10px 12px;
	 height: 43px;
}

.search_btn .input-lg {
  height: 43px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
	border-right:0px;
}



.search_btn .form-control {
	background:transparent;
	color:#fff;
}

.site-header .main-navigation ul li:nth-last-child(2) a {
  background: #089c07;
}

.site-header .main-navigation ul li:nth-last-child(1) a {
  background: #089c07;
}


/******************************************************************** header  end****************************************************/



/******************************************************************** center begin ****************************************************/

#center {
	padding-top:210px;
}

#center .panel-heading {
	padding: 15px;
}

#center .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px !important;
    font-weight: bold !important;
}

#center .panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    box-shadow: 0px 0px 1px 0px #e9e9e9;
}

#center .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #eee;
    border: none;
	font-size: 18px;
}

#center .list-group li:before {
	content:">";
	padding-right:10px;
	font-weight:bold;
	margin-left:10px;
}

#center .list-group li a {
	color:#000;
	text-decoration:none;
}

#center .list-group li a:hover {
	text-decoration:underline;
}

#center .carousel-inner {
    box-shadow: 0px 0px 3px 1px #999;
}

#center .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border: 2px solid #089c07;
    border-radius: 10px;
}

#center .list-inline > li {  
    padding-left: 8px;
	padding-right: 0px;
}


#center .thumbnail {
    padding: 10px;
	float:left;
	box-shadow: 0px 0px 3px 0px #000;
}

#center .left {
   width:80%;
	margin:20px 10%;
}

#center .thumbnail > img {
    height:110px;
	width:130px;
	margin-bottom:10px;
}

#center .caption{
	padding:0;
}

#center .caption h4:nth-child(1) {
	margin-bottom:5px;
}

#center .caption h4:nth-child(2) {
	margin-bottom:15px;
}


#center .elanlar {
	/*text-align:center;*/
	margin-top: 250px;
}


#center .elanlar h2 {
	margin-bottom:20px;
}

#center .reklam  {
	background:#fff;
	text-align:center;
}


#center .pagination > li > a, .pagination > li > span {
    /*color: #089c07;*/
	box-shadow: 0px 0px 1px 0px #888;
}


/******************************************************************** center end ****************************************************/


.elan_frame {
	background:#fff;
	margin-top:10px;
}

.left-frame_in li {
	float:left;
	width:20%;
	border-right:5px solid white;
	background:#EDD57F;
	padding:10px 0px 10px 10px;
}

.left-frame_in li:last-child{
	background:#FFF383;
	border-right:none;
}


.left-frame_in li a{
	text-decoration:none;
	color:#0000FF;
}

.left-frame_in li:hover{
	display:block;
	background:#A4FFB2;
}

.left-frame_in li a:hover{
	text-decoration:none;
	color:#fff;
}

.left-frame_in img{
	vertical-align:middle;
	width:40px;
}

.left-frame_in h4{
	display:inline;
	margin-left:5px;
	font-weight:bold;
}


.history_news {
	margin:5px 0; 
}

.history_news p {
	margin:5px 0; 
}

.history_news a {
	color: #3C763D;
}

.history {
	color:#61aefa;
}

.carousel-caption {
	position:absolute;
	left:0;
	bottom:0;
	background:#cccccc;
	width:100%;
	opacity:0.7;
	color:#000000;
	padding:5px 10px;
	text-align:left;
	text-shadow:none;
	z-index:200;
}

.carousel-control {
	bottom:50px;
}

.news {
	font-size:16px !important;
}

.pagination {
	margin-top:0;
	margin-bottom:18px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.container_block{
    padding:0 10px;
	width:100%;
	background: #FFF;
	text-align:center;
}

.container_block h3{
    font-weight:bold;
	text-align:center;
	margin-bottom:20px;
}

.container_block_in {
	//padding:0 3%;
	margin:0 auto;
	text-align:center;
}

.container_block_in li {
	margin-right:50px;
}

.container_block_in li:last-child {
	margin-right:0px;
}





.categoria {
	width:100%;
	background:#fff;
	//padding-bottom: 20px;
	float:left;
}



.categoria_left {
	width:25%;
	float:left;
}

.categoria_left_header {
	background:#089c07;
	text-align:center;
	color:#fff;
	padding:9px 0;
	font-weight:bold;
	//margin-bottom:5px;
	border-radius: 10px 10px 0px 0px;
}

.categoria_left_header h3 {
	margin:5px auto !important;
}

.categoria_left h3, .categoria_right h3{
	text-align:center;
	margin:20px auto;
}



.categoria_left a {
	color:#000;
	text-decoration:none;
}


.categoria_left ul li  {
	width:100%;
	padding:5px;
	background:#77C47B;
	border-radius:3px;
	border-bottom:1px solid white;
}

.categoria_left ul li:hover  {
	background:#E8DA97;
}

.categoria_left ul li img {
	text-align:left;
	margin-right:10px;
}


.categoria_left ul li h4 {
	font-weight:bold;
	vertical-align:middle;
	display:inline;
}

.categoria_right {
	width:75%;
	float:right;
	position:relative;
}



.cost_more {
	margin-top:40px;
	vertical-align:middle;
}




.elan_forma {
	width:180px;
	height:auto;
	background:#fff;
	border:1px solid #B2B3B3;
	border-radius:5px;
	padding:10px;
	text-align:center;
	float:left;
	margin-left:8px;
	margin-bottom:16px;
}

.elan_forma:hover {
	box-shadow:0px 0px 5px 0px #000;
	//background:#E8DB97;
}

.elan_forma>h3 {
	margin-top:9px !important;
	margin-bottom:0px !important;
}

.elan_forma h4 {
	margin-top:5px;
	font-weight:bold;
}

.elan_forma img {
	max-width:150px;
	height:120px;
}





.categoria_in2 {
	width:100%;
	padding:0 10px;
}


.categoria_in2 hr {
	border-width:2px;
	border-color:#666;
	margin-left:8px;
}


.categoria_in2 a {
	text-decoration:none;
}

.categoria_right_inner {
	width:100%;
	padding:10px;
	border-top:2px dotted grey;
	padding-top:20px;
	
}

.categoria_right_inner h4 {
	padding-bottom:10px;	
}


.news_block {
	border-top:1px dotted grey;
	margin-bottom:10px;
	padding-top:10px;
}

.news_block:first-child {
	border-top:none;
	padding-top:0px;
}

.news_block p {
	padding-bottom:10px;
}

.news_block img {
	width:80px;
	height:80px;
	float:left;
	margin-right:10px;
}

.categoria_block {
	//margin-left: -15px;
    float:left;
	width: 100%;
	min-height:573px;
   // padding: 20px 0 0 22px;
    background: #fff;
    display: none;
    position: absolute;
    z-index: 10;
    top:0;
    right: 0;
}

.categoria_block_in {
    margin-bottom: 20px;
    text-align: center;
    float: left;
}

.categoria_block_in a {
	color:#337ab7 !important;
}

.categoria_block_in img {
	margin-bottom:10px;
	margin-left: 15px;
	height:120px;
	width:120px;
}





.navig {
	width:100%;
	text-align:center;
}


.container_block_sb{
	width:100%;
	background:#cccccc;
	float:left;
}

.container_block_sb h3{
    margin-bottom:10px;
	font-weight:bold;
}

.sorgu_block {
//	float:left;
//	padding:20px;
	width:100%;
	font-size:18px;
	margin:20px 0;
	//background:#cccccc;
}

.sorgu_header {
	background:#089c07;
	text-align:center;
	color:#fff;
	padding:5px 0;
	font-weight:bold;
	margin-bottom:5px;
}

.sorgu {
	background:#fff;
}

.sorgu h3{
	font-weight:bold;
	margin:0px !important;
}

.sorgu p{
	padding:5px 0;
	padding-left:5px;
	padding-right:5px;
	background:#089c07;
	color:#fff;
}

.radio {
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 25px;
	font-size:16px;
}

.sorgu_button {
	text-align:center;
	margin:12px 0;
}

.banner_block {
	color:#fff;
	width:100%;	
	height:267px;
	border: 1px solid #666666;
	margin-top:20px;
}

.banner_block h3 {
	margin:0 !important;
}

.banner_header {
	background:#666666;
	text-align:center;
	color:#fff;
	padding:5px 0;
	font-weight:bold;
	margin-bottom:5px;
}


.faydali_linkler {
	width:100%;
	padding:0 20px;
	margin:20px 0;
	background:#fff;
	//border-bottom:2px solid red;
	//border-top:2px solid red;
	text-align:center;
}


.faydali_linkler h3 {
	padding:20px 0;
}

.faydali_linkler img {
	margin-right:3px;
	margin-bottom:30px;
}

/**********************************************************/


.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/************************* modal *********************************/

.main_menu ul li:nth-child(7) a {
	/*background:transparent;
	color:transparent;*/
}

.modal-dialog {
    max-width: 800px;
    margin: 50px auto;
}

.modal-header h3 {
	font-size:24px;
}


.modal-body h4 {
	font-size: 20px;
}

.modal-body dt,
.modal-body dd {
	font-size: 18px;
	line-height:2;
}

.modal-body img {
	margin:30px 0;
}








/***************************************************************************************/


footer {
	background:#003366;
}


.footer_above {
	color:#000;
	padding:20px;
	border-bottom:2px solid #fff;
}

.footer_above ul {
	margin-left:20px;
	margin-bottom:5px;
}

.footer_above a{
	color:#000;
}

.footer_below a, .footer_below span {
	color:#fff;
}

.footer_below {
	float:left;
	width: 100%;

	padding:20px 0;
}

.footer_below img {
	margin-left:10px;
}


/*************************************************************************************************/

.right_block {
	width:100%;
}

.right_block_hedaer {
	width:100%;
	background:#fff;
	border-top:2px solid #DDA144;
	border-bottom:2px solid #DDA144;
	padding:10px 5px;
	text-align:center;
}

.right_block_in {
	width:100%;
	padding:20px 10px;
	margin-bottom:20px;
}

.right_block_in h4 {
	margin-bottom:10px;
}

.right_block_readmore {
	width:100%;
	background:#fff;
	padding:10px;
	margin-bottom:20px;
	text-align:center;
}

.right_block_readmore img{
	width:75%;
	margin:20px 0;
}

.right_block_readmore h4{
	margin-bottom:20px;
	margin-left:10px;
}

.note {
	width:100%;
	margin-top:20px;
	border:1px solid #eee;
}

.note h3 {
	background:#eee;
	padding:10px;
}

.note p {
	padding:10px;
}



.civil_block_header {
	width:100%;
	background:#003366;
	color:#fff;
	padding:10px;
}


/***************************************************************************************/

.modal-lg {
	width: auto;
	margin:0px auto;
}

.modal-header{
	background:#fff;
}


.close {
	text-shadow: none;
	opacity:1;
}



.sosial_net {
	width:100%;
	text-align:center;
	margin:10px auto;
}

.sosial_net img {
	margin:10px auto;
	margin-right:10px;	
}

.capcha {
    position: absolute;
    bottom: 136px;
    right: 16px;
}

/*******************************************************************************************/

.elan_block {
	width:100%;
	background:#EDD57F;
	text-align:center;
	padding:10px;
	margin-bottom:30px;
}

.elan_block h2 {
	margin-bottom:20px;
	font-weight:bold;
}


.elan_insert {
	margin-top:20px;
	padding-top:20px;
	//padding-bottom:20px;
	border-top:2px solid #eee;
	border-bottom:2px solid #eee;
}
/*******************************************************************************************/

.contact_left {
	width:50%;
	float:left;
	border-right:1px solid #DDA144;
	padding-right:2%;
}

.contact_right {
	width:48%;
	float:right;
}

.contact_iframe {
    width: 100%;
    height: 320px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #c3c3c4;
}





@media screen and (max-width: 1100px) {





.container {
	width:100%;
	padding:15px;
}



.more_seach .form-group, .more_seach .btn-success, .more_seach .form-control{
	margin-left:0px;
	margin-bottom:10px;
}


.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	margin:0;
}

.navbar-toggle {
    float: none;
	margin-right:0;
}

.text-spacing {
	letter-spacing: 0px;
}

.site_name, .lang_reg {
	width:100%;
	float:none;
	text-align:center;
	margin-bottom:15px;
}

.reklam {	
	float:none;
	margin:10px auto;
}

.input-group {
	margin-left:0;
	float:right;
}

.input-group .btn {
	margin:0 auto;
	text-align:center;
}


.menyu {
	text-align:center;
}

.cagri, .insert_elan {
	float:none;
	margin:0;
}


.reg {
	float:none;
	margin-bottom:15px;
	margin-top:10px;
}

.navbar-left {
    width:100%;
	float: left !important;
	padding-left:30px;
}

.navbar-form {
	margin-top:0px;
}

.nav > li {
    text-align:center;
}

.nav > li > a {
    padding:20px;
}

.categoria_left, .categoria_right {
	float:none;
	width:100%;
}

.left-frame_in {
	margin-bottom:20px;
}

.left-frame_in li{
	width:50%;
	text-align:center;
	padding-left:0;
	border-bottom:2px solid white;
	border-right:2px solid white;
}

.left-frame_in li:last-child{
	width:100%;
}

.left-frame_in img{
	display:block;
	margin:0 auto;
}

.left-frame_in h4 {
   margin-left:0px;
}

.elan_forma_1 {
	width:50%;
	margin:5px auto;
}

.categoria-frame_in {
	text-align:left;
}

.categoria-frame_in img {
	margin-right:0px;
	margin-bottom:5px;
}

.categoria-frame_in h4 {
	display:block;
}

.sorgu_block, .banner_block {
	float:none;
	width:100%;
}

.categoria_block {
    width: 50%;
   top:-1054px;
   padding:0 5px;
}

.contact_left, .contact_right{
	width:100%;
	float:none;
	border:none;
}


.faydali_linkler img {
	margin-right:0px;
}


.dropdown-menu {
    margin-top:0;
    width: 60%;
  //  margin-left: 40%;
	left:0;
}

.contact_left {
	margin-bottom: 30px;
}

.pagination {
    margin-top:15px;
    
}
}


@media screen and (max-width: 1000px) {

header {
	text-align:center;
	position:static;
}

.logo {
	width:200px;
	margin-bottom:20px;
}

.chagri {
	margin:20px auto;
}

#center .elanlar {
	text-align:center;
}
}

@media screen and (max-width: 991px) {

/*.search_btn img {
	margin-top:30px;
	float:none;
}*/

site-header
{ position: static; }

.homepage
{ margin-top:-280px; }

.search_btn img
{ margin-top:30px; float:none; }

}

@media screen and (max-width: 768px) {

.modal-body dt {
	text-align:left;
	
}


}



@media screen and (max-width: 600px) {
	
.navbar-nav {
    margin: 10px 0px !important;
}

.lang_1 {
	margin-left:5px;	
}

.lang {
	display:inline-block;
margin:10px;
}

.lang a {
	margin:10px;
}

.reklam {	
	width:100%;
}


.elan_forma {
	float:none;
	margin:10px auto;
}

.categoria_block {
    width: 50%;
   top:-1080px;
}

	
}