@model Emsal.UI.Models.PotentialClientStateViewModel
@*@using PagedList.Mvc;*@


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<script src="~/ContentProfile/js/State.js"></script>

<div class="clearfix"></div>
<br />

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <!-- /.box-tools -->
                </div>
                <table class="table table-hover table-striped table-bordered" style="margin-bottom:0;">
                    <tbody>
                        <tr>
                            @if (Model.isMain == 0)
                            {
                                <th class="col-md-1">#</th>
                            }
                            <th class="col-md-1">
                                Şəkil
                            </th>
                            <th class="col-md-3">
                                Ad, soyad, ata adı<br />
                                <input onkeyup="PotentialClientStateSearch(this, 'nameSurnameFathername')" class="form-control" placeholder="axtar" />
                            </th>
                            <th class="col-md-2">
                                FİN nömrə
                                <input onkeyup="PotentialClientStateSearch(this, 'pin')" class="form-control" placeholder="axtar" />
                            </th>
                            <th class="col-md-3">
                               Ünvan
                                <input onkeyup="PotentialClientStateSearch(this, 'fullAddress')" class="form-control" placeholder="axtar" />
                            </th>
                            <th class="col-md-1 shsingle text-center">Satıcı et</th>
                        </tr>
                    </tbody>
                </table>
                <div id="AjaxPaginationList">
                    @Html.Partial("PartialIndex")
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/ContentProfile/js/pagedList.js"></script>


