@model Emsal.UI.Models.PotentialClientStateViewModel
@*@using PagedList.Mvc;*@


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<script src="~/ContentProfile/js/State.js"></script>
<br />
<div class="btn-group pull-right">
    <a class="btn btn-primary" href="/PotentialClientState?stateStatusEV=Tesdiqlenen">Yeni daxil olmuş</a>
    <a class="btn btn-primary" href="/PotentialClientState?stateStatusEV=reject">İmtina olunan</a>
</div>
<div class="clearfix"></div>
<br />

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <!-- /.box-tools -->
                </div>
                <table class="table table-hover table-striped table-bordered" style="margin-bottom:0;">
                    <tbody>
                        <tr>
                            @*@if (Model.isMain == 0)
            {
                                <th class="col-md-1">#</th>
                            }*@
                            <th class="col-md-2">
                                Məhsulun adı<br />
                                <input onkeyup="PotentialClientStateSearch(this, 'productName')" class="form-control" placeholder="axtar" />
                            </th>
                            <th class="col-md-1">
                                Miqdarı (vahidi)
                            </th>
                            <th class="col-md-1">
                                @Html.DisplayNameFor(model => model.price)
                            </th>
                            <th class="col-md-2">
                                Qeyd
                            </th>
                            <th class="col-md-2">
                                İnfo<br />
                                <input onkeyup="PotentialClientStateSearch(this, 'userInfo')" class="form-control" placeholder="axtar" />
                            </th>
                            <th class="col-md-2">
                                Sənədlər
                            </th>
                            @if (Model.isMain == 0)
            {
                                <th class="col-md-1 shsingle text-center">imtina</th>
                            }
                        </tr>
                    </tbody>
                </table>
                <div id="AjaxPaginationList">
                    @Html.Partial("PartialIndex")
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/ContentProfile/js/pagedList.js"></script>


