@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AddGovernmentOrganisationLayout.cshtml";
}


<div id="AjaxPaginationList">
    @Html.Partial("PartialIndex")
</div>

<script src="~/Content/js/pagedList.js"></script>

@if (TempData["GovSuccess"] != null)
{
    <script type="text/javascript">
            $(document).ready(function () {
                $("#myModal").modal('show');
            });
    </script>
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Məlumat</h4>
                    </div>
                    <div class="modal-body">
                        <p id="successMessage">Dövlət Təşkilatı Uğurlu bir şəkildə əlavə olundu</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">bağla</button>
                    </div>
                </div>
            </div>
        </div>
}

@if (TempData["govDeleted"] != null)
{
    <script type="text/javascript">
            $(document).ready(function () {
                $("#myModal3").modal('show');
            });
    </script>
    <div id="myModal3" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Məlumat</h4>
                </div>
                <div class="modal-body">
                    <p id="successMessage">Dövlət Təşkilatı Sistemdən silindi</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">bağla</button>
                </div>
            </div>
        </div>
    </div>
}

