@*@model IEnumerable<Emsal.AdminUI.Models.EnumCategoryViewModel>*@
@*@model Emsal.AdminUI.Models.EnumCategoryViewModel*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="AjaxPaginationList">
    @Html.Partial("PartialIndex")
</div>

<script src="~/Content/js/pagedList.js"></script>
