@model Emsal.UI.Models.OfferMonitoringViewModel


@{
    ViewBag.Title = "Index";
    Layout = "";
}
<script src="~/ContentProfile/js/Monitoring.js"></script>


<div class="col-sm-12">
    @Html.Raw(ViewBag.htmlBarcode)
</div>   






