<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Ərzaq məhsullarının tədarükü və təchizatı</title>

    <link href="~/ContentProfile/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/ContentProfile/css/style.css" rel="stylesheet" />

    <script src="~/ContentProfile/js/jquery-1.12.3.js"></script>

    <!-- Bootstrap core CSS -->

    @*<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/Content/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="~/Content/css/jumbotron.css" rel="stylesheet">*@
    <link href="~/Content/css/style.css" rel="stylesheet">

    @*<link href="~/Content/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/css/owl.theme.css" rel="stylesheet">
    <link href="~/Content/css//ihover.css" rel="stylesheet">
    <link href="~/Content/css/js-image-slider.css" rel="stylesheet">
    <link href="~/Content/css/ddmenu.css" rel="stylesheet">*@

    <!-- Bootstrap core JS -->

    @*<script src="~/Content/js/jquery-1.12.3.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/ie10-viewport-bug-workaround.js"></script>
    <script src="~/Content/js/ie-emulation-modes-warning.js"></script>

    <script src="~/Content/js/owl.carousel.js"></script>
    <script src="~/Content/js/ddmenu.js"></script>
    <script src="~/Content/js/jssor.slider.mini.js"></script>
    <script src="~/Content/js/js-image-slider.js"></script>*@

</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home/Index"><h3>tedaruk.az</h3></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Axtar...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                        <!--müesise ile bağlı melumatlar-->
                        <div class="navbar_right_login">
                            <span><a href="">Ətraflı axtar</a></span>
                            <a href="" id="user_inf">@Model.User.Username <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
                        </div>
                    </form>
                </div><!--/.navbar-collapse -->

                <div class="per_information">
                    <ul class="list-unstyled">
                        @{
                            if (Model.UserRolesArray != null)
                            {
                                bool gov = false;
                                foreach (var item in Model.UserRolesArray)
                                {
                                    if (item.RoleId == 12)
                                    {
                                        gov = true;
                                    }
                                }
                                if (Model.User.userType_eV_ID == 50)
                                {
                                    if (gov)
                                    {
                                        <a href="/Login/Redirect"><li>Şəxsi Səhifə</li></a>
                                    }
                                    else
                                    {
                                        <a href="/Login/Redirect"><li>Şəxsi Səhifə</li></a>
                                    }
                                }
                                else if (Model.User.userType_eV_ID == 26)
                                {
                                    <a href="/Login/Redirect"><li>Şəxsi Səhifə</li></a>
                                }
                                else if (Model.User.userType_eV_ID == 51)
                                {
                                    <a href="/Login/Redirect"><li>Şəxsi Səhifə</li></a>
                                }
                                else if (Model.User.userType_eV_ID == 52)
                                {
                                    <a href="/Login/Redirect"><li>Şəxsi Səhifə</li></a>

                                }
                                else
                                {
                                    <a href="/Login/Redirect"><li>Şəxsi Səhifə</li></a>
                                }
                            }
                            else
                            {
                                if (Model.User.userType_eV_ID == 50)
                                {
                                    <a href="/Login/Redirect"><li>Şəxsi Səhifə</li></a>
                                }
                                else if (Model.User.userType_eV_ID == 26)
                                {
                                    <a href="/Login/Redirect"><li>Şəxsi Səhifə</li></a>
                                }
                                else if (Model.User.userType_eV_ID == 51)
                                {
                                    <a href="/Login/Redirect"><li>Şəxsi Səhifə</li></a>
                                }
                                else if (Model.User.userType_eV_ID == 52)
                                {
                                    <a href="/Login/Redirect"><li>Şəxsi Səhifə</li></a>

                                }
                                else
                                {
                                    <a href="/Login/Redirect"><li>Şəxsi Səhifə</li></a>
                                }
                            }

                        }
                        <a href="/Login/Logout"><li>Çıxış</li></a>
                    </ul>


                </div>
                <!--müesiseye gelen mesajlar-->
                <div class="messages">
                    <ul class="list-unstyled">
                        <li id="SentMessages" style="cursor:pointer"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Göndərilən Məktublar</li>
                        <li id="Inbox" style="cursor:pointer"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Gələn Məktublar</li>
                    </ul>
                </div>


            </div>
        </nav>
    </header>

    <section>
        <div class="loader"></div>

        <div class="container">
            @RenderBody()
        </div>
    </section>

    @Html.Partial("~/Views/Home/Footer.cshtml")

    <script>
        $("#user_inf").click(function () {
            $(".per_information").toggle();
            return false;
        });

    </script>





    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.validate.js"></script>
    <script src="~/Content/js/jquery.validate.unobtrusive.js"></script>
    <script src="~/ContentProfile/js/emsal.js"></script>
    <script src="~/ContentProfile/js/custom.js"></script>
    <link href="~/ContentProfile/css/select2.min.css" rel="stylesheet" />
    <script src="~/ContentProfile/js/select2.min.js"></script>
    <script type="text/javascript">
        $('.select2').select2();
    </script>

    <link href="~/ContentProfile/css/datepicker.css" rel="stylesheet" />
    <script src="~/ContentProfile/js/bootstrap-datepicker.js"></script>
    <script>
        $().ready(function () {

            $(' .datepicker, input[type=datetime]').datepicker({
                format: 'dd.mm.yyyy',
                autoclose: true,
                "setDate": new Date()
            })
            .attr('readonly', 'readonly')
            .on('changeDate', function (ev) {
                (ev.viewMode == 'days') ? $(this).datepicker('hide') : '';
            });
            //.on('changeDate', function (e) {
            //    $(this).datepicker('hide');
            //});

        });
    </script>




    @if (TempData["Success"]!=null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $("#myModal").modal('show');
            });
        </script>
        <div id="myModal" class="modal fade" style="z-index:3000">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Məlumat</h4>
                    </div>
                    <div class="modal-body">
                        <p id="successMessage">@TempData["Success"]</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">bağla</button>
                    </div>
                </div>
            </div>
        </div>

        TempData["Success"]= null;
    }


    <div id="getImage" class="modal fade">
        <div class="modal-dialog" style="width: 60%; height: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Fayl</h4>
                </div>
                <div class="modal-body">
                    <p id="getImageMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">bağla</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>