@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<br /><br />
<div class="col-md-4 col-md-offset-4 text-center">
    <h1 class="text-danger">Səhv baş verdi.</h1>
    <img class="img-responsive center-block" src="~/img/404.png" />
    </div>


