<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="D:\WSI_Logs\nlog.txt">

  <extensions>
    <add assembly="Emsal.Utility"/>
  </extensions>
  <targets>
    <!-- write logs to file -->
    <target name="logfile" xsi:type="File" fileName="D:\WSI_Logs\${date:format=yy-MM-dd}\${date:format=yyyy-MM-dd}.txt" layout="${logger} ,${guid},${level},${LogType},${ChannelId},${RequestId},${longdate} , ${callsite},${stacktrace} , ${message} ,${LineNumber} ,${exception:format=Message,StackTrace} " />

    <!-- write log message to database -->

    <target  name="database" xsi:type="Database"  keepConnection="true"
     useTransactions="true"
     dbProvider="Oracle.DataAccess.Client.OracleConnection, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342"
     connectionString="${gdc:item=ConnectionString}"
     commandText="INSERT INTO OC_YKB.WSI_LOG  (CreateDate, Logger,Origin, LogLevel,guid,LogType,ChannelId,RequestId, Message, Exception, StackTrace,LineNumber) values (to_date(:createDate,'yyyy-MM-dd HH24:mi:ss' ),:logger, :origin, :logLevel,:guid,:LogType,:channelId,:requestId, :message, :exception, :stackTrace,:LineNumber)">

      <parameter name="createDate" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}"/>
      <parameter name ="logger"  layout="${logger}"/>
      <parameter name="origin" layout="${callsite}"/>
      <parameter name="logLevel" layout="${level}"/>
      <parameter name ="guid"  layout="${guid}"/>
      <parameter name="LogType" layout="${LogType}"/>
      <parameter name="channelId" layout="${ChannelId}"/>
      <parameter name="requestId" layout="${RequestId}"/>
      <parameter name="message" layout="${message}"/>
      <parameter name="exception" layout="${exception:format=Message,StackTrace}"/>
      <parameter name="stackTrace" layout="${stacktrace}"/>
      <parameter name="LineNumber" layout="${LineNumber}"/>


    </target>

  </targets>

  <rules>

    <logger name="UAT*" minlevel="Trace" writeTo="logfile" />
    <logger name="UAT*" appendTo="database"/>
    <logger name="Live*" minlevel="Trace" writeTo="logfile" />
    <logger name="Live*" appendTo="database"/>
  </rules>
</nlog>
