@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ASCLayout.cshtml";
}
<div class="container">
    <div class="tab_panel_block">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">@*<a href="#Admin" aria-controls="home" role="tab" data-toggle="tab"><h5 class="text-bold">Potensial Satıcı və Müştərilər</h5></a>*@</li>
            <li role="presentation"><a href="/ASCSpecialSummary/Index"><h5 class="text-bold"><span class="adSoyad">ASC-@Model.User.Username</span><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></h5></a></li>
            <li>
                <a href="/OfferMonitoring?monitoringStatusEV=new" class="btn btn-info active pull-right">
                    <i class="glyphicon glyphicon-link"></i>&nbsp;Təkliflər Monitorinq
                </a>
                <a href="/OfferMonitoring/Contract?isApprov=True" class="btn btn-info active pull-right">
                    <i class="glyphicon glyphicon-link"></i>&nbsp;Təsdiqlənmiş Müqavilələr
                </a>
                <a href="/OfferMonitoring/Contract?isApprov=False" class="btn btn-info active pull-right">
                    <i class="glyphicon glyphicon-link"></i>&nbsp;Müqavilələr
                </a>
            </li>
        </ul>
    </div>
    <!-- Tab panes -->

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="admin">

            <div class="tab_panel_block_left">

            </div>


            <div class="clear-both"></div>
        </div>



        @*<div role="tabpanel" class="tab-pane fade" id="settings">*@
        <div class="container">
            <div class="tab_panel_block_left">

                <div class="panel-group">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse2">Haqqımda<span class="glyphicon glyphicon-menu-down f-right text-gray" aria-hidden="true"></span></a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse in">
                            <ul class="list-group">
                                <li class="list-group-item"><a data-toggle="collapse" href="" id="personalInfoButton">Şəxsi məlumatlar</a></li>
                                <li class="list-group-item"><a data-toggle="collapse" href="" id="personalEmail">E-mail</a></li>
                                <li class="list-group-item"><a data-toggle="collapse" href="" id="currentPassword">Şifrəni dəyişdir</a></li>
                                <li class="list-group-item"><a data-toggle="collapse" href="">Qeydiyyatdan imtina</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab_panel_block_right">
                <div class="person_settings" id="personalInfos">
                    <h4 class="text-bold" id="persInfHead">Şəxsi məlumatlar</h4>
                    <div class="white_fon" id="userInfoos">
                        <table>
                            <tr>
                                <td>İstifadəçi adı</td>
                                <td class="userNameEkle">@Model.User.Username</td>
                            </tr>
                        </table>
                    </div>

                    <div id="updatePerson" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Şəxsi Məlumatlar</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label>İstifadəçi adı</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" id="upUserName" class="form-control" value="" readonly /><br />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button id="changeDetails" class="btn btn-danger">Təsdiqlə</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="person_settings" id="personalEmail2" style="display:none">
                    <h4 class="text-bold">E-mail</h4>
                    <div class="white_fon">
                        <p>
                            <br />
                            Elanlarınız, və mesajlarınız ilə
                            əlaqəli vacib mesajların sizə çatacağından
                            əmin olabilmək üçün emailinizin düzgün qeyd olunduğundan emin olun.
                        </p><br />
                        <p>Mövcud email adresiniz: <b><span id="currentEmail">@Model.User.Email</span></b></p><br />

                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#EmailModal">Dəyişdir</button>

                        <!-- Modal -->

                        <div id="EmailModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Emaili Deyişdir</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="email" class="form-control" id="updateEmail" value="@Model.User.Email" />
                                            </div><br />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="updateEmailAction" class="btn btn-danger">Təsdiqlə</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="person_settings" id="currentPasswordBody" style="display:none">
                    <h4 class="text-bold">E-mail</h4>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Mövcud Şifrə</label>
                        </div>
                        <div class="col-md-9">
                            <input type="password" class="form-control" id="oldPassword" /><br />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Yeni Şifrə</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="newPassword1" /><br />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Yeni Şifrə Təkrar</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="newPassword2" /><br />
                        </div>
                    </div><br /><br /><br />
                    <div>
                        <h4 id="wrongPassword" style="color:red;"></h4>
                    </div>
                    <div class="form-group col-md-2 col-md-offset-5">
                        <br />
                        <button id="changePassword" class="btn btn-danger">Təsdiqlə</button>
                    </div>
                </div>
            </div>
            <div class="tab_panel_block_right" style="display:none" id="createdUsers">
                <div class="white_fon">
                    @Html.Action("Index", "CreatedUsers")
                </div>
            </div>
        </div>
        @*</div>*@
        <div class="clear-both"></div>

    </div>
</div>